<section class="artistpafe">
    <div class="search">
        <h1>Artist</h1>
        <label>search: </label>
        <input ng-model="query" placeholder="Search..." autofocus>

        <label class="formgroup">by:
            <select ng-model="teams">
                <option value="">All</option>
                <option value="front-end">front-end</option>
                <option value="back-end">back-end</option>
            </select>
        </label>

        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" checked>
            ascending
        </label>
        <label class="formgroup">
            <input type="radio" ng-model="direction" name="direction" value="reverse">
            descending
        </label>
    </div>

    <ul class="artistlist">
        <li class="artist cf" ng-repeat="item in artists | filter: query | filter: teams">
            <a href="#/details/{{artists.indexOf(item)}}">#/details/{{artists.indexOf(item)}}
                <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}" />
                <div class="info">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.reknown}}</h3>
                </div>
            </a>
        </li>
    </ul>

</section>